<div class="container">
	<h1>Blog</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{categoryList categories prefix="Posted in "}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				  {{#if data.category.id}}
					<a href="/blog" class="false list-group-item">All Categories</a>
					{{else}}
					<a href="/blog" class="active list-group-item">All Categories</a>
					{{/if}}
				  {{#each data.categories}}
						{{#eq ../data.category.id id}}
						<div class="active list-group-item">
						<a class="col-sm" style="color:white;" href="{{categoryUrl key}}">{{name}}
							<span class="badge badge-icon">{{postCount}}</span>
						</a>
						<a class="col-sm-2" style="color:white;" data-toggle="collapse" href="#{{key}}" role="button" aria-expanded="false" aria-controls="example">+</a>
						<div class="collapse" id="{{key}}">
							{{#each subcategories}}
							<a style="color:white;" href="/blog/{{../key}}/{{key}}">
								<div class="col-md col-md-offset-3" style="margin-top:3px;">
									{{name}}
								</div>
							</a>
							{{/each}}
						</div>
						</div>
						{{else}}
						<div class="false list-group-item">
							<a class="col-sm" href="{{categoryUrl key}}">{{name}}
								<span class="badge badge-icon">{{postCount}}</span>
							</a>
							<a class="col-sm-2" data-toggle="collapse" href="#{{key}}" role="button" aria-expanded="false" aria-controls="example">+</a>
							<div class="collapse" id="{{key}}">
								{{#each subcategories}}
								<a href="/blog/{{../key}}/{{key}}">
									<div class="col-md col-md-offset-3" style="margin-top:3px;">
										{{name}}
									</div>
								</a>
								{{/each}}
							</div>
							</div>
						{{/eq}}
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
