<div class="jumbotron" style="background-image: url('https://ameinfo.com/wp-content/uploads1/2018/01/JT46J5-1024x768.jpg');height:300px;"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h1>{{data.post.title}}</h1>
					<h5>
						{{{categoryList data.post.categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post">
					{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{data.post.content.extended}}}
				</div>
				{{#if data.post.ratings}}
					{{#each data.post.ratings}}
						<li class="unstyled">
							{{rating}} stars by {{userID.name.full}}
						</li>
					{{/each}}
				{{/if}}
				<div class="col-md-6" style="margin-top:10px;">
					<form method="post">
						<input type="hidden" name="action" value="post-rating">
						<div class="my-rating"></div>
						<input id="rateValue" name="rating" type="hidden"> 
						<input name="userId" value="{{user._id}}" type="hidden">
						<input name="postId" value="{{data.post._id}}" type="hidden">
						{{#if user}} 
							{{#if user.facebook.avatar}}
								<img class="img-thumbnail img-circle" width=32 heigth=32 src="{{user.facebook.avatar}}">
							{{/if}}
						<button class="btn btn-primary" type="submit">Post</button>
						{{else}}
						<a class="btn btn-primary" href="/auth/facebook?target={{data.returnTo}}">Sign In With Facebook to Comment</a>
						{{/if}}
					</form>
				</div>
			</article>
		</div>
		<div class="col-sm col-md-3" style="margin-top: 100px;">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				{{#if data.post.categories.id}}
				<a href="/blog" class="false list-group-item">All Categories</a>
				{{else}}
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{/if}} {{#each data.categories}} {{#eq ../data.post.categories.id id}}
				<div class="active list-group-item">
					<a class="col-sm" style="color:white;" href="{{categoryUrl key}}">{{name}}
						<span class="badge badge-icon">{{postCount}}</span>
					</a>
					<a class="col-sm-2" style="color:white;" data-toggle="collapse" href="#{{key}}" role="button" aria-expanded="false" aria-controls="example">+</a>
					<div class="collapse" id="{{key}}">
						{{#each subcategories}}
						<a style="color:white;" href="/blog/{{../key}}/{{key}}">
							<div class="col-md col-md-offset-3" style="margin-top:3px;">
								{{name}}
							</div>
						</a>
						{{/each}}
					</div>
				</div>
				{{else}}
				<div class="false list-group-item">
					<a class="col-sm" href="{{categoryUrl key}}">{{name}}
						<span class="badge badge-icon">{{postCount}}</span>
					</a>
					<a class="col-sm-2" data-toggle="collapse" href="#{{key}}" role="button" aria-expanded="false" aria-controls="example">+</a>
					<div class="collapse" id="{{key}}">
						{{#each subcategories}}
						<a href="{{subcategoryUrl ../key key}}">
							<div class="col-md col-md-offset-3" style="margin-top:3px;">
								{{name}}
							</div>
						</a>
						{{/each}}
					</div>
				</div>
				{{/eq}} {{/each}}
			</div>
		</div>
	</div>
</div>
